<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="profile">
<div class="row">
    <div class="col-md-12">
      <div class="grid profile">
        <div class="grid-header">
          <div class="col-xs-2">
            <img src="assets/user.jpg" class="img-circle" >
          </div>
          <div class="col-xs-7">
            <h3 style="margin-bottom:0; ">John</h3>
            <p style="margin:0; padding-top:0;">SDE</p>
            <button type="button">Edit Profile </button>
          </div>
          <div class="container">
            <div style="float: left;"><h3><i class="fa fa-comments-o" aria-hidden="true"></i> Message </h3></div>
            <div style="float: right;"><h3><i class="fa fa-phone" aria-hidden="true"></i> 9831189321 </h3></div> 
            <div style="float: center;"><h3><i class="fa fa-envelope" aria-hidden="true"></i> xyz@accolitedigital.com </h3> </div>
          </div>
        </div>
        <div class="grid-body">
          <div class="tab-content">
            <div class="tab-pane active" id="profile">
              <p class="lead"><strong>About</strong></p>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <p><strong>Current Location:</strong> Hyderabad</p>
                  <p><strong>Current BU:</strong> Consulting Services</p>
                  <p><strong>Current Project:</strong> XYZ Project</p>
                </div>
              </div>
            </div>
            <br>
            <div class="tab-pane active" id="profile">
                <p class="lead"><strong>Experience</strong></p>
                <hr>
                <div class="row">
                  <div class="col-md-6">
                    <p><strong>No.of years:</strong> 2.5</p>
                    <p><strong>Previous Projects:</strong></p>
                    <ul class="nav nav-tabs">
                        <li><i class="icon-ok"></i> DCX Project</li>
                        <li><i class="icon-ok"></i> ABC Project</li>
                        <li><i class="icon-ok"></i> MNX Project</li>
                      </ul>
                    <p><strong>Skills:</strong></p>
                    <hr>
                    <ul class="nav-tabs">
                        <li><i class="icon-ok"></i> Angular</li>
                        <li><i class="icon-ok"></i> Spring Boot</li>
                        <li><i class="icon-ok"></i> Python</li>
                        <li><i class="icon-ok"></i> React</li>
                        <li><i class="icon-ok"></i> Core Java</li>
                      </ul>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <button class="btn1" type="button"> Change Password </button>
  <button class="btn2" type="button"> Track Activity </button>
</div>