<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="bgimg">
    <div class="middle">
      <h1>InAccolite</h1>
      <hr>
      <p> Wanna know what’s happening at Accolite?</p>
      <p>InAccolite is a tool to connect with Accolitians...</p>
    </div>

    <div class="arrow"><a class="btn"
      routerLink="/edit-profile"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"><i class="fa fa-arrow-right"></i> </a>
    </div>
</div>
  

  