
  .bgimg {
    
    position: relative;
	  height: 100vh;
    margin-top:30px;
    margin-right: 75px;
    margin-left:75px;
    margin-bottom: 30px;
    border-radius: 15px;
    border-color:black;
  }
  .middle {
    
    position: absolute;
    font-size: 25px;
    font-weight: 100;
    margin-top:10px;
    max-height: fit-content;
    text-align: left;
  }
  
  .quote{
    background-color: #ff4e00;
    color:white;
    position: fixed;
    bottom: 20px;
    width: 75%;
    margin-right: 75px;
    border-radius: 20px;
    margin-left:50px;
  }
  .btn{
    color:#ff4e00;
  padding: 10px 20px;
  border-radius: 4px;
  size:3px;
  margin-bottom: 50px;
  margin-right:20px;
  }
  .arrow{
    position: fixed;
  bottom: -4px;
  right: 10px;
  margin-bottom: 50px;
  margin-right: 0px;
  }
  hr {
    margin: auto;
    width: 90%;
    max-width: 800px; margin-left:0;
    border-width: 0 0 1px;
    $color: rgb(245, 87, 9);
    color: $color;
    border-image: linear-gradient(
      90deg,
      rgba($color, 0),
      rgba($color, 1) 50%,
      rgba($color, 0) 100%) 0 0 100%;
    border-style: double;
    height:1px;
  }
  
  .blockquote {
    background-color:#ee9617;
background-image: linear-gradient(315deg, #ee9617 0%, #fe5858 74%);
     position: fixed;
    display: flex;
   padding: 0 20px;
      color: #ffffff;
      margin-right: 75px;
  border-radius: 30px;
  height: 90px;
  bottom: 20px;
  margin-top:50px;
  margin-bottom: 0px;
  margin-left: 0px;
 
  }
  
  .blockquote p {
      position: relative;
      color: #FFFFFF;
      font-size :6em;
      font-weight: normal;
      line-height: 1;
      margin: 0;
  }

  .blockquote h4 {
      position: relative;
      color: #292a2b;
      font-size: 1.4rem;
      font-weight: normal;
      line-height: 1;
      margin: 0;
      padding-top: 20px;
      z-index: 1;
  }