<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="bgimg">
  <div class="col-xs-2">
    <img src="assets/accolite.png" class="img-circle" width="300" 
    height="50" style="float: right; margin-right: 5px;">
  </div>
    <div class="middle">
      <h1 style="margin-bottom:0px;font-size:265%;font-family:'Lucida Handwriting';margin-left:30px;-webkit-background-clip: text;color: transparent;background-image: linear-gradient(#F16522 , #da0808 );">We <span style="-webkit-background-clip: text;color: transparent;background-image: linear-gradient(#a29e9e ,#100606 ); font-size:100%;font-weight:bolder;font-family:'Copperplate Gothic Light';margin-bottom: 0px; ">SHARE</span></h1>
      <div class="subtitles">
        <p style="margin-top:0px;font-size:13px;margin-left:40px; font-weight: bold; font-family:Trebuchet MS; color:gray"><i class='fa fa-globe' style='color: rgb(244, 115, 10)'></i> Connect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class='fa fa-handshake-o' style='color:rgb(244, 115, 10)'></i> Engage&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-line-chart" style='color: rgb(244, 115, 10)'></i> Flourish</p>
      </div>
      <hr>
      <p style="font-size:130%; font-weight:normal;font-family: Gabriola ; margin-bottom:0px;margin-top:20px;margin-right:10px;">Wanna know what’s happening at Accolite?</p>
      <p style="font-size:130%;font-weight:normal;font-family: Gabriola ;margin-right: 10px; margin-top:0px;">WeSHARE is a tool to connect the Accolite Family..</p>
    </div>
    <div class="col-xs-2">
      <img src="assets/landingimage.png" class="img-circle" width="700" 
      height="400" style="float: right; margin-right: 0px;margin-top: 10px; margin-left: 500px;">
    </div>

    <div class="blockquote">
      <i class="fa fa-quote-left" style="margin-top:10px; margin-right:10px;" aria-hidden="true"></i><p style="font-size:250%; font-weight:normal;font-family:Gabriola ; margin-top:20px; ">  Let's create a happy and a healthy workplace..</p>
        <p style="font-size:250%; font-weight:normal;font-family:Gabriola ;  margin-top:20px;">Let's win together! </p><i class="fa fa-quote-right" style="margin-top:10px; margin-left:15px;" aria-hidden="true"></i>
        <h4 style="font-size:100%; font-weight:bold;margin-top:30px; margin-left: 0px;font-family:Trebuchet MS; color:white;">&mdash; Our Core Values</h4>
    </div>

    <div class="arrow"><a class="btn"
      routerLink="/edit-profile"
      routerLinkActive="activebutton"
      ariaCurrentWhenActive="page"><i class="fa fa-arrow-circle-right"></i> </a>
    </div>
</div>




